version: '3'
services:
  opensearch-node1:
    image: opensearchproject/opensearch:2.6.0
    container_name: opensearch-node1
    environment:
      - discovery.type=single-node
      - http.max_content_length=1000mb
      - "OPENSEARCH_JAVA_OPTS=-Xms4G -Xmx4G"
      # Avoid creating security-auditlog index, since that results in unallocated shards on a single node setup.
      # This will send security audit events to stdout instead https://opensearch.org/docs/latest/security/audit-logs/storage-types/
      - plugins.security.audit.type=debug
    ulimits:
      nofile:
        soft: 65536 # maximum number of open files for the OpenSearch user, set to at least 65536 on modern systems
        hard: 65536
    volumes:
      - search-eng-week2:/usr/share/opensearch/data
    ports:
      - 9200:9200
      - 9600:9600 # required for Performance Analyzer
    networks:
      - opensearch-net
    deploy:
      resources:
        limits:
          cpus: '4'
          memory: 8GB
  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:2.6.0
    container_name: opensearch-dashboards
    ports:
      - 5601:5601
    expose:
      - "5601"
    environment:
      OPENSEARCH_HOSTS: '["https://opensearch-node1:9200"]'
    networks:
      - opensearch-net

volumes:
  search-eng-week2:

# explicitly set name, otherwise the docker network name is prepended with the folder (project) name
networks:
  opensearch-net:
    name: opensearch-net