# OpenSearch cluster w/ 3 uniform nodes plus a dashboard node
# Needs minimum ~ 5 GB RAM on the host

# NOTE: We use a few configuration anti-patterns here to make this work in environments
# where you don't control the underlying host (GitPod, docker-in-docker, etc.).  These
# are indicated by "AP:" in the comment.  See the week 3 appendix of the class for more info.
# Don't use these "AP:" settings in a real OpenSearch environment!

version: '3'
services:
  opensearch-node1:
    image: opensearchproject/opensearch:2.6.0
    container_name: opensearch-node1
    ports:
      - 9200:9200
      - 9600:9600 # required for Performance Analyzer
    environment:
      - cluster.name=opensearch-cluster
      - node.name=opensearch-node1
      - discovery.seed_hosts=opensearch-node1,opensearch-node2,opensearch-node3
      - cluster.initial_master_nodes=opensearch-node1,opensearch-node2,opensearch-node3
      - bootstrap.memory_lock=false # AP: so memlock bootstrap check will pass - since we can't memlock unlimited on GitPod
      - node.store.allow_mmap=false # AP: so vm.max_map_count bootstrap check will pass - but don't do in prod it degrades perf
      - "OPENSEARCH_JAVA_OPTS=-Xms1G -Xmx1G"
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - search-eng-week3-d1:/usr/share/opensearch/data
    networks:
      - opensearch-net
  opensearch-node2:
    image: opensearchproject/opensearch:2.6.0
    container_name: opensearch-node2
    environment:
      - cluster.name=opensearch-cluster
      - node.name=opensearch-node2
      - discovery.seed_hosts=opensearch-node1,opensearch-node2,opensearch-node3
      - cluster.initial_master_nodes=opensearch-node1,opensearch-node2,opensearch-node3
      - bootstrap.memory_lock=false # AP: so memlock bootstrap check will pass - since we can't memlock unlimited on GitPod
      - node.store.allow_mmap=false # AP: so vm.max_map_count bootstrap check will pass - but don't do in prod it degrades perf
      - "OPENSEARCH_JAVA_OPTS=-Xms1G -Xmx1G"
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - search-eng-week3-d2:/usr/share/opensearch/data
    networks:
      - opensearch-net
  opensearch-node3:
    image: opensearchproject/opensearch:2.6.0
    container_name: opensearch-node3
    environment:
      - cluster.name=opensearch-cluster
      - node.name=opensearch-node3
      - discovery.seed_hosts=opensearch-node1,opensearch-node2,opensearch-node3
      - cluster.initial_master_nodes=opensearch-node1,opensearch-node2,opensearch-node3
      - bootstrap.memory_lock=false # AP: so memlock bootstrap check will pass - since we can't memlock unlimited on GitPod
      - node.store.allow_mmap=false # AP: so vm.max_map_count bootstrap check will pass - but don't do in prod it degrades perf
      - "OPENSEARCH_JAVA_OPTS=-Xms1G -Xmx1G"
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - search-eng-week3-d3:/usr/share/opensearch/data
    networks:
      - opensearch-net
  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:2.6.0
    container_name: opensearch-dashboards
    ports:
      - 5601:5601
    expose:
      - "5601"
    environment:
      OPENSEARCH_HOSTS: '["https://opensearch-node1:9200","https://opensearch-node2:9200","https://opensearch-node3:9200"]'
    networks:
      - opensearch-net

volumes:
  search-eng-week3-d1:
  search-eng-week3-d2:
  search-eng-week3-d3:

# explicitly set name, otherwise the docker network name is prepended with the folder (project) name
networks:
  opensearch-net:
    name: opensearch-net